.basket-page__container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1100px;
  margin: 40px auto 0;
  height: auto;
}

.basket-page__form {
  z-index: 2;
}

.basket-page__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(255, 255, 255, .5);
  filter: blur(10px);
}

.basket-page__sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  margin: 20px 0;
  background-color: #9dc77e;
  border-bottom: 5px solid #589377;
  z-index: 2;
}

.basket-page__info {
  margin: 15px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #f8f9fa;
  text-shadow: 0px 0px 10px #6e6e6e;
}

.basket-page__input {
  width: 224px;
  height: 30px;
  margin: 2px auto 14px;
  padding: 8px;
  background-color: #fff;
  border: none;
  color: #9acd32;
}

.basket-page__input:focus {
  outline: none;
  color: #9acd32;
}

.basket-page__input:last-of-type {
  margin-bottom: 20px;
}

.basket-page__input::placeholder {
  font-size: 13px;
  line-height: 14px;
  color: #99cd3256;
}

.basket-page__input-subtitle {
  width: 224px;
  margin: 0 auto;
  color: #5f5f5f;
  font-size: 13px;
  line-height: 14px;
}

.basket-page__input-subtitle:first-of-type {
  margin-top: 20px;
}

.basket-page__input_date::-webkit-datetime-edit-text,
.basket-page__input_date::-webkit-datetime-edit-month-field,
.basket-page__input_date::-webkit-datetime-edit-day-field,
.basket-page__input_date::-webkit-datetime-edit-year-field
{
  color: #9acd32;
}

.basket-page__input_date::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.basket-page__submit-note {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: #fff;
  padding-bottom: 5px;
}

.basket-page__price-count {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

@media screen and (max-width: 1300px) {
  .basket-page__container {
    max-width: 900px;
  }
  .basket-page__cover {
    width: 1000px;
  }
}

@media screen and (max-width: 1024px) {
  .basket-page__container {
    max-width: 760px;
    justify-content: center;
  }
  .basket-page__sidebar {
    width: 240px;
  }
  .basket-page__input {
    width: 192px;
  }
  .basket-page__input-subtitle {
    width: 192px;
  }
  .basket-page__cover {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .basket-page__container {
    max-width: 460px;
    flex-direction: column-reverse;
    padding-top: 60px;
  }
  .basket-page__sidebar {
    width: 380px;
    margin: 20px auto;
  }
  .basket-page__input {
    width: 300px;
  }
  .basket-page__input-subtitle {
    width: 300px;
  }
  .basket-page__cover {
    max-width: 480px;
  }
}

@media screen and (max-width: 500px) {
  .basket-page__container {
    max-width: 320px;
    margin: 0 auto;
  } 
  .basket-page__sidebar {
    width: 300px;
    margin: 20px auto;
  }
  .basket-page__input {
    width: 240px;
  }
  .basket-page__input-subtitle {
    width: 240px;
  }
  .basket-page__cover {
    max-width: 320px;
  }
}