.basket-card {
  max-width: 600px;
  height: 180px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
}

.basket-card__image {
  width: 178px;
  height: 178px;
  border-radius: 4px 0 0 4px;
}

.basket-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.basket-card__title {
  margin-top: 15px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.basket-card__description {
  width: 250px;
  font-size: 15px;
  line-height: 15px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.basket-card__vendor {
  margin: 0 0 15px 0;
  font-size: 13px;
  line-height: 13px;
  color: rgb(173, 173, 173);
}

.basket-card__product-cost {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Counter */

.basket-card__quantity-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 6px;
  padding: 5px;
  width: 80px;
}

.basket-card__btn {
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  transition: .3s;
}

.basket-card__btn:hover {
  background-color: rgba(173, 173, 173, 0.1);
  border-radius: 4px;
}

.basket-card__btn:disabled {
  opacity: .1;
  cursor: auto;
}

.basket-card__quantity {
  padding: 0;
  margin: auto 6px;
  font-size: 14px;
  
}

.basket-card__price {
  margin: 0 0 15px 0;
}

.basket-card__btn-symbol {
  font-size: 16px;
  line-height: 16px;
  color: rgb(173, 173, 173);
}