.product {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(141, 141, 141, 0.1); 
}

.product__title {
  margin: auto;
  width: 100px;
  font-size: 12px;
}

.product__count {
  padding: 0;
  margin: auto;
  font-size: 14px;
}

.product__price {
  margin: auto;
  font-size: 16px;
}