.footer {
  width: 100%;
  margin: 100px auto 0;
  text-align: center;
  padding-bottom: 50px;
}

.footer__link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 28px;
  height: 28px;
  opacity: .3;
  background-image: url('../assets/github-icon.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__link:hover {
  color: #fff;
  opacity: 1;
}