.footer {
  width: 100%;
  margin: 100px auto 0;
  text-align: center;
  padding-bottom: 50px;
}

.footer__link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  opacity: .3;
  transition: .3s;
}

.footer__link:hover {
  color: #fff;
  opacity: 1;
}