.basket {
  position: relative;
  display: flex;
  
}

.basket-btn {
  width: 30px;
  width: 30px;
  cursor: pointer;
  background: url('../assets/basket.svg') no-repeat center center;
  background-size: contain;
  margin-right: 10px;
  transition: .5s;
}

.basket-btn:hover {
  opacity: .5;
}

.basket-content {
  display: none;
  position: absolute;
  /* перенос строки */
  overflow-wrap: break-word;
  top: 38px;
  right: -130px;
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 300px;
  min-height: 300px;
  box-shadow: 0px 8px 16px 0px rgba(197, 197, 197, 0.2);
  z-index: 1;
  transition: .5s;
}

.basket:hover .basket-content {display: block;}