.product-list {
  max-width: 1300px;
  margin: 0;
  padding-left: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px 20px;
}

@media screen and (max-width: 1620px) {
  .product-list {
    max-width: 1040px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 1300px) {
  .product-list {
    max-width: 800px;
    padding-left: 40px;
    gap: 20px 10px;
  }
}

@media screen and (max-width: 1024px) {
  .product-list {
    max-width: 600px;
    grid-template-columns: repeat(auto-fill, 190px);
    gap: 20px 40px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  .product-list {
    max-width: 500px;
    margin: 40px auto;
    padding-left: 0;
    gap: 30px;
  }
}

@media screen and (max-width: 525px) {
  .product-list {
    margin: 0 auto;
    max-width: 300px;
    grid-template-columns: repeat(1, 300px);
    gap: 24px 0px;
  }
}