.register-checkbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-checkbox__help {
  position: absolute;
  display: none;
  top: 40%;
  left: 10%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000000;
}

.register-checkbox__tooltip {
  border: 1px dashed #000000;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
}

.register-checkbox__tooltip:hover {
  background-color: #198754;
  color: #ffffff;
  border-style: solid;
}

.register-checkbox__tooltip:hover + .register-checkbox__help {
  display: block;
}
