.register__password-check {
  color: #ff8484;
  margin: 10px auto 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}

.register-checkbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-checkbox__help {
  position: absolute;
  display: none;
  top: 40%;
  left: 10%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000000;
}

.register-checkbox__tooltip {
  display: block;
  border: 1px dashed #000000;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
}

.register-checkbox__tooltip:hover {
  background-color: #daffc8;
  border-style: solid;
}

.register-checkbox__tooltip:hover + .register-checkbox__help {
  display: block;
}

.register__link {
  color: #46dd00;
  margin-left: 10px;
}

.register__link:hover {
  color: #46dd00;
}

.register__button {
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
  width: 100px;
  height: 40px;
  background-color: #212529;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
}

.register__button:disabled {
  opacity: .5;
  color: #fff;
}

.register__button:hover {
  color: #46dd00;
}

.register__button:hover:disabled {
  cursor: default;
  color: #fff;
}

.register__interaction {
  display: flex;
  flex-direction: row;
}

.register__account-text {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .register-checkbox__tooltip {
    display: none;
  }
  .register-checkbox__help {
    display: none;
  }
  .register__interaction {
    flex-direction: column;
  }
  .register__link {
    margin: 0;
  }
  .register-checkbox__admin {
    font-size: 12px;
  }
}
