.product-item {
  margin-top: 10px;
}

.product-item__image {
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.product-item__product-name {
  font-size: 16px;
}

.product-item__vendor-name {
  font-size: 13px;
  margin-bottom: 4px;
}

.product-item__like-btn {
  cursor: pointer;
}

.product-item__like-btn:disabled {
  cursor: pointer;
}