.product-item__card {
  position: relative;
  width: 230px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 12px 3px rgba(184, 184, 184, 0.5);
  -moz-box-shadow: 0px 0px 12px 3px rgba(184, 184, 184, 0.5);
  box-shadow: 0px 0px 12px 3px rgba(184, 184, 184, 0.5);
  border-radius: 6px;
  border-bottom: none;
}

.product-item__image {
  width: 190px;
  height: 190px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

/* .product-item__delete-button {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  border-radius: 50%;
  font-size: 12px;
  line-height: 12px;
  width: 20px;
  height: 20px;
  opacity: .3;
  color: black;
}

.product-item__delete-button:hover {
  opacity: .6;
  background-color: black;
  color: #99ca74;
} */

.product-item__info-wrapper {
  position: relative;
  width: 190px;
}

.product-item__product-name {
  text-decoration: none;
  text-align: center;
  color: #000;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.product-item__product-name:hover {
  color:#9acd32;
}

.product-item__vendor-name {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  padding-bottom: 3px;
  color: #adadad;
}

.product-item__like-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  transition: .5s;
}

.product-item__like-btn:hover {
  transform: scale(1.1);
}

.product-item__like-btn:disabled {
  cursor: pointer;
}

@media screen and (max-width: 525px) {
  .product-item__card {
    width: 280px;
    margin: 0 auto;
  }
  .product-item__image {
    width: 280px;
    height: 280px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
  }
  .product-item__like-btn {
    width: 24px;
    height: 24px;
  }
  .product-item__product-name {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: black;
    margin-right: 40px;
  }
  .product-item__info-wrapper {
    justify-content: center;
    padding: 4px 0;
  }
  .product-item__vendor-name {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .product-item__card {
    max-width: 260px;
    margin: 0 auto;
  }
  .product-item__image {
    width: 260px;
    height: 260px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
  }
  .product-item__like-btn {
    width: 22px;
    height: 22px;
  }
  .product-item__info-wrapper {
    padding: 10px 0;
  }
  .product-item__vendor-name {
    display: none;
  }
}