.empty-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.empty-wrapper__description {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #bdbdbd;
  text-shadow: 1px 0px 40px rgb(158, 158, 158);
}