.auth {
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 10px 28px  #cacaca;
  
  margin-top: 100px;
  text-align: center;
}

.auth__card {
  padding: 80px;
}

.auth__title {
 font-size: 32px;
 line-height: 32px;
 font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .auth {
    margin-top: 80px;
    width: 520px;
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .auth {
    margin-top: 120px;
    width: 520px;
  }
  .auth__card {
    padding: 40px;
  }
}

@media screen and (max-width: 500px) {
  .auth {
    width: 320px;
    padding: 20px;
  }
}

@media screen and (max-width: 320px) {
  .auth {
    width: 316px;
  }
}