.button-counter {
  width: 200px;
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  margin-bottom: 12px;
}

.button-counter__quantity-wrapper {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: auto;
  margin: 0;
  padding: 0;
  border: 1px solid #9acd32;
  background-color: #fff;
  border-radius: 4px;
  color: #729727;
}

.button-counter__count-btn {
  border: none;
  background-color: rgba(173, 173, 173, 0.1);
  border-radius: 4px;
  color: #9acd32;
  width: 36px;
  height: 26px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}

.button-counter__count-btn:hover {
  opacity: .75;
  background-color: rgba(173, 173, 173, 0.3);
}

.button-counter__count-btn:disabled {
  opacity: .5;
}

.button-counter__quantity {
  margin: 0;
  width: 40px;
  font-size: 15px;
  line-height: 16px;

}

.button-counter__quantity::selection {
  background: transparent;
}

.button-counter__add-btn {
  width: 100%;
  height: 30px;
  background-color: #99ca74;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-counter__add-btn:hover {
  background-color: #fff;
  color: #99ca74;
  border: 1px solid #99ca74;
}

@media screen and (max-width: 525px) {
  .button-counter {
    width: 280px;
    margin: 0 auto 20px;
  }
  .button-counter__add-btn {
    height: 40px;
    padding: 8px;
  }
  .button-counter__quantity-wrapper {
    height: 40px;
  }
  .button-counter__count-btn {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 320px) {
  .button-counter {
    width: 260px;
    margin: 0 auto 10px;
  }
}