.navbar-container {
  width: 100%;
  height: 60px;
  background-color: #212529;
  display: flex;
  justify-content: space-between;
  padding: 10px 140px;
  align-items: center;
}

.navbar__logo-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #b3b3b3;
}

.navbar__logo-link:hover {
  color: #b3b3b3;
  opacity: .5;
}

.navbar__favourites-button {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 50px;
  text-decoration: none;
  color: #fff;
}

.navbar__favourites-button:hover {
  color: #fff;
  opacity: .5;
}

.navbar__auth-button:hover {
  cursor: pointer;
}

.navbar__user-side {
  display: flex;
  align-items: center;
}

.navbar__email {
  color: #b3b3b3;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}

.navbar__login {
  cursor: pointer;
  color: #46dd00;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  border: 1px solid #46dd00;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
}

.navbar__login:hover {
  background-color: #ffffff;
  color: #000;
}

.navbar__login-text {
  margin: 0;
}

.navbar__admin-button {
  color: #fff;
  width: 100px;
  padding: 10px 5px;
  font-size: 12px;
  line-height: 12px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #dc3545;
  border-radius: 4px;
}

.navbar__admin-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #dc3545;
}

.navbar__login-button {
  margin-left: 4px;
  width: 22px;
  height: 22px;
  background-image: url('../../assets/login.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar__auth-button_logout {
  width: 24px;
  height: 24px;
  background-image: url('../../assets/logout.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar__auth-button_logout:hover {
  width: 24px;
  height: 24px;
  background-image: url('../../assets/logout-active.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1300px) {
  .navbar-container {
    padding: 5px 80px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-container {
    padding: 5px 20px;
  }
  .navbar__logo-link {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
  }
  .navbar__favourites-button {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    position: sticky;
    top: 0;
    z-index: 3;
  }
  .navbar__logo-link {
    visibility: hidden;
    width: 40px;
    height: 40px;
    transition: 1s;
  }
  .navbar__logo-link:before {
    content: url('../../assets/watermelon.svg');
    visibility: visible;
  }
  .navbar__logo-link:hover {
    transform: rotate(360deg);
  }
  .navbar__favourites-button {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    margin-left: 20px;
  }
  .navbar__nav-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__email {
    display: none;
  }
}

@media screen and (max-width: 499px) {
  .navbar-container {
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
  }
}