.basket-page__container {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 0 auto;
}

.basket-page__sidebar {
  width: 280px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin: 20px 0;
  box-shadow: 0px 0px 4px 0px rgba(63, 63, 63, 0.3);
}

.basket-page__info {
  margin: 15px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.basket-page__input {
  width: 80%;
  margin: 20px auto 0;
}