.favourites {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .favourites {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
}

@media screen and (max-width: 525px) {
  .favourites {
    display: block;
    margin: 40px auto;
  }
}