.shop {
  margin-top: 50px;
  display: flex;
  margin-left: 60px;
}

@media screen and (max-width: 1024px) {
  .shop {

  }
}

@media screen and (max-width: 768px) {
  .shop {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 525px) {
  .shop {
    display: block;
    margin: 40px auto;
  }
}