.shop {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .shop {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
}

@media screen and (max-width: 525px) {
  .shop {
    display: block;
    margin: 20px auto 10px;
    padding-top: 20px;
  }
}

.shop__search {
  width: 140px;
  height: 34px;
  display: flex;
  justify-content: center;
  border: none;
  padding-left: 12px;
  transition: .5s;
  background-color: transparent;
  border: 1px solid #fff;
  color: #9acd32;
  background-color: #fff;
}

.shop__search::placeholder {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #9acd32;
}

.shop__search:focus {
  width: 240px;
  outline: none;
  color: #9acd32;
  box-shadow: none;
}

.search__form {
  display: flex;
}

.search__button {
  width: 34px;
  height: 34px;
  padding: 10px;
  background-image: url('../assets/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #fff;
}