.search-form {
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 99px);
  display: flex;
  opacity: .6;
  filter: grayscale(100%);
  border-bottom: 3px solid #589377;
  border-radius: 6px;
}

.search-form_focus {
  opacity: 1;
  filter: none;
}

.search-form__cancel {
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  height: 34px;
  width: 24px;
  color: #fff;
  text-transform: uppercase;
  background-color: #ff6666;
  border: none;
  cursor: pointer;
  border-radius: 6px 0 0 6px;
}

.search-form__input {
  cursor: pointer;
  width: 140px;
  height: 34px;
  display: flex;
  justify-content: center;
  border: none;
  padding-left: 8px;
  transition: .5s;
  background-color: transparent;
  border: 1px solid #fff;
  color: #9acd32;
  background-color: #fff;
}

.search-form__input::placeholder {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #9acd32;
}

.search-form__input:focus {
  cursor: text;
  outline: none;
  color: #9acd32;
  box-shadow: none;
}

.search-form__button {
  width: 34px;
  height: 34px;
  padding: 10px;
  background-image: url('../../assets/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: rgb(88, 147, 119, .5);
  border-radius: 0 4px 4px 0;
}

/* .search-form__input:focus ~ .search-form__button {
  background-color: #f5f5f5;
} */

@media screen and (max-width: 1300px) {
  .search-form {
    left: calc(50% - 160px);
    box-shadow: none;
  }
}

@media screen and (max-width: 1024px) {
  .search-form {
    position: static;
    padding: 15px 0 0 20px;
    border-bottom: none;
  }
  .search-form__input {
    width: calc(100% - 80px);
    height: 34px;
    display: flex;
    justify-content: center;
    border: none;
    padding-left: 8px;
    transition: .5s;
    background-color: transparent;
    border: 1px solid #fff;
    color: #9acd32;
    background-color: #fff;
  }
  .search-form__input:focus {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 500px) {
  .search-form {
    padding: 0 20px 0 40px;
  }
}

/* @media screen and (max-width: 1024px) {
  .search-form__input {
    width: 80px;
    height: 28px;
    padding-left: 4px;
  }
  .search-form__cancel {
    font-size: 12px;
    height: 28px;
    width: 18px;
    color: #ff6666;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
  }
  .search-form__button {
    width: 18px;
    height: 28px;
    padding: 8px;
    background-size: contain;
  }
  .search-form__input::placeholder {
    font-size: 12px;
    line-height: 12px;
  }
  .search-form__input:focus {
    width: 80px;
  }
  .search-form__input:focus + .search-form__button {
    display: none;

  }
} */